<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Scraper App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        .headermain, nav ul, .about-title, .about-text, footer {
            text-align: center;
        }
        .mute-button {
            margin-top: 20px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
    <h1 class="headermain">Software Eng. Final Project</h1>    
    <nav>
        <ul>
          <li><a href="/home">Start</a></li>
          <li><a href="/acknow">Acknowledgements</a></li>
          <li><a href="/aboutus">About us</a></li>
        </ul>
    </nav>
    <div class="container">
        <section class="about">
            <h2 class="about-title">About Us</h2>
            <p class="about-text">Welcome to Our Company. We are dedicated to providing the best service and quality products to our customers. Our team of experts is here to help you with all your needs.</p>
            <div class="images">
                <div class="image-item">
                    <img src="{{ url_for('static', filename='css/luis.gif') }}" alt="Image 1">
                    <p class="image-caption">Luis Arturo Michel Perez</p>
                </div>
                <div class="image-item">
                    <img src="{{ url_for('static', filename='css/david.gif') }}" alt="Image 2">
                    <p class="image-caption">Mario David Hernandez Pantoja</p>
                </div>
                <div class="image-item">
                    <img src="{{ url_for('static', filename='css/oscar.gif') }}" alt="Image 2">
                    <p class="image-caption">Oscar Martinez Estevez</p>
                </div>
                <div class="image-item">
                    <img src="{{ url_for('static', filename='css/moises.gif') }}" alt="Image 2">
                    <p class="image-caption">Moises Jesus Carrillo Alonzo</p>
                </div>
                <div class="image-item">
                    <img src="{{ url_for('static', filename='css/gerardo.gif') }}" alt="Image 2">
                    <p class="image-caption">Gerardo Hernandez Widman</p>
                </div>
            </div>
        </section>
    </div>

    <footer>
        <p>Curifeos corp, Copyright &copy; 2024</p>
    </footer>

    <audio id="background-music" autoplay loop>
        <source src="{{ url_for('static', filename='css/music.mp3') }}" type="audio/mpeg">
        Tu navegador no soporta la etiqueta de audio.
    </audio>
    <button class="mute-button" onclick="toggleMute()">Silenciar/Activar Música</button>

    <script>
        function toggleMute() {
            var audio = document.getElementById('background-music');
            audio.muted = !audio.muted;
        }

        function launchConfetti() {
            confetti({
                particleCount: 7,
                spread: 700,
                origin: { y: 0 }
            });
        }

        window.onload = function() {
            setInterval(launchConfetti, 500);
        };
    </script>

    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
</body>
</html>

