<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Scraper App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesMai.css') }}">
</head>
<body>
    <h1 class="headermain">Software Eng. Final Project</h1>    
    <nav>
        <ul>
          <li><a href="/home">Start</a></li>
          <li><a href="/acknow">Acknowledgement</a></li>
          <li><a href="/aboutus">About us</a></li>
        </ul>
    </nav>
    <div class="principal">
        <div class="secondary1">
            <h2>Querys</h2>
            <div class="tertiary1">
                <form action="/home" method="post">
                    <p class="negrita">Location: </p>
                    <p><input type="text" name="location" value=""/></p>
                    
                    <p class="negrita">Mode: </p>
                    <div class="checkbox-locations">
                        <label class="checkbox-location">
                            <input type="checkbox" name="time" value="Part-time"> Part-time
                        </label><br>
                        <label class="checkbox-location">
                            <input type="checkbox" name="time" value="Full-time"> Full-time
                        </label><br>
                        <label class="checkbox-location">
                            <input type="checkbox" name="time" value="Contract"> Contract
                        </label><br>
                        <label class="checkbox-location">
                            <input type="checkbox" name="time" value="Temporary"> Temporary
                        </label><br>
                    </div>
                    
                    <p class="negrita">Technologies: </p>
                    <div class="checkbox-technology">
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="Assembly language"> Assembly language
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="C language"> C language
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="C# language"> C# language
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="C++ language"> C++ language
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="Python"> Python
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="MATLAB"> MATLAB
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="Automation"> Automation
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="Artificial intelligence"> Artificial intelligence
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="Computer vision"> Computer vision
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="Arduino"> Arduino
                        </label>
                    </div>

                    <p class="negrita">Technical Skills: </p>
                    <div class="checkbox-techskill">
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="Welding"> Welding
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="Soldering"> Soldering
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="Machining"> Machining
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="Mechanics"> Mechanics
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="Carpentry"> Carpentry
                        </label>
                    </div>

                    <p class="negrita">Hard Skills (Robotics): </p>
                    <div class="checkbox-robotics">
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="Interface"> Interface Design
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="Design"> Design and Assembly
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="Patent"> Patent Equipment
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="Innovation"> Problem Solving
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="Analysis"> Problem Analysis
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="Integration"> Processes Integration
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="Models"> Computational Models
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="Automation"> Control Automation
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="Electronics"> Electronics Design
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="HMI"> HMI Programming
                        </label>
                    </div>

                    <p class="negrita">Hard Skills (Embedded): </p>
                    <div class="checkbox-embedded">
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="Microcontrollers"> Microcontrollers & Microprocessors
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="Firmware"> Firmware Development
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="Hardware"> Hardware Design
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="RTOS"> RTOS
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="Peripherals"> Peripheral Interface
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="Optimization"> Code Optimization
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="Sensors"> Sensors & Actuators
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="Protocols"> Communication Protocols
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="Automation"> Test Automation
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="Simulation"> Design & Simulation Tools
                        </label>
                    </div>

                    <p class="negrita">Soft Skills: </p>
                    <div class="checkbox-softskill">
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="Critical Thinking"> Critical Thinking
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="Decision making"> Decision making
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="Troubleshooting"> Troubleshooting
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="Teamwork"> Teamwork
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="Leadership"> Leadership
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="skills" value="Bilingual"> Bilingual
                        </label>
                    </div>
                    <p><button type="submit" class="btn-submit">Submit</button></p>
                </form>
            </div>
        </div>
    
        <div class="secondary2">
            <h2>Results</h2>
            <div class="tertiary2">
                {% if results %}
                <ul>
                    {% for result in results %}
                    <li>{{ result }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>